*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
            
    background-size: cover;
    background-image: url("bg3.jpg");
}
.main{
    width:100% ;
    background-image: url("./header/h1.jpg");
    background-size: cover;
    background-position: center;
    
    padding:6px;
    display: flex;
    
    
}
img{
    width: 100px;
    height:100px;
}
#pfp{
    width:127px;
    height:127px;
    border-radius: 100%;
    margin-left: 10px;
    
}
h1{
    height:100%;
    margin-top:40px;
    color:white;
    font-size: 94px;
    margin-left: 20px;
}
#linkedin,#github{
    margin-left: 36px;
    
}

a{
    text-decoration: none;
    height:inherit;
    font-size:51px;

    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
    margin-left: 30px;
}
#highlight{
    text-decoration: underline;
    text-decoration-color: aliceblue;
}
.links{
   
    height: inherit;
    margin-top: 2.9%;
    font-size: 35px;
    color: black;
    
  
    
}
#name{
    text-shadow: 3px 3px rgb(185, 168, 168);
    display: inline;
    font-size: 77px;
    color: rgb(255, 255, 255);
    text-shadow: 2.2px 2.2px black;
    margin-top: 1.7%;
}